@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f5f4;
  font-family: "Gill Sans", sans-serif;
}

#home-page {
  /* background: url("../public/anime-city.gif") no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about-banner {
  background: url("../public/cover-gif-remake.jpg") no-repeat top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* filter: grayscale(70%); */
}

#bgVideo {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

/* Manifesto Button */
.button-manifesto {
}

section {
  color: #5c5f82;
  @apply max-w-[1440px] mx-auto md:px-20 py-10;
}

.section-title {
  @apply uppercase leading-tight;
  @apply text-4xl md:text-6xl;
  @apply mb-8;
}

.section-content {
  @apply text-lg;
}

.section-description {
  @apply leading-relaxed;
  @apply my-4;
}

.manifesto-wrapper {
  height: calc(100vh - 10vh);
  position: relative;
  top: 2px;
}

/* Audio Player */
.rhap_container {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.rhap_progress-section {
  display: none;
}

/* remove scrollbar */

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.footer-menu {
  transition: 0.2s;
}

.footer-menu:hover {
  transform: scale(1.05);
}

/* Picture Frame */
.framed {
  box-shadow: -50px -50px 0 -40px #ffba52, 50px 50px 0 -40px #ffba52;
}

/* Flip book */
.book {
  @apply flex items-center justify-center;
}
.book input {
  display: none;
}
.book img {
  width: 100%;
  height: 100%;
}
.book #cover {
  width: 490px;
  height: 700px;
  @apply bg-themeLightOrange;
}
.book .flip-book {
  width: 490px;
  height: 700px;
  position: relative;
  perspective: 1500px;
}
.book .flip {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: 1s;
  color: #000;
}
.book .front {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5) 0 2px 5px rgba(0, 0, 0, 0.5);
}
.book .back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  @apply bg-themeLightOrange;
}
.book .flip-btn {
  position: absolute;
  bottom: 13px;
  right: 13px;
  cursor: pointer;
  @apply text-themeLightOrange;
  @apply bg-[rgba(100,100,100,0.7)];
  @apply px-3;
  @apply py-1;
  @apply rounded;
  @apply hover:scale-110;
  @apply transition;
  @apply duration-200;
  @apply font-bold;
}

.book #p1 {
  z-index: 3;
}
.book #p2 {
  z-index: 2;
}
.book #p3 {
  z-index: 1;
}
.book #c1:checked ~ .flip-book #p1 {
  transform: rotateY(-180deg);
  z-index: 1;
}
.book #c2:checked ~ .flip-book #p2 {
  transform: rotateY(-180deg);
  z-index: 2;
}
.book #c3:checked ~ .flip-book #p3 {
  transform: rotateY(-180deg);
  z-index: 3;
}
