@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f5f4;
  font-family: "Oswald", sans-serif;
}

#home-page {
  /* background: url("../public/anime-city.gif") no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about-banner {
  background: url("../public/about.gif") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: grayscale(70%);
}

#bgVideo {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

/* Manifesto Button */
.button-manifesto {
}

section {
  @apply max-w-[1440px] mx-auto md:px-20 py-10;
}

.section-title {
  @apply uppercase leading-tight;
	@apply text-4xl md:text-6xl;
  @apply mb-8;
}

.section-description {
  @apply leading-relaxed;
  @apply my-4;
}

.manifesto-wrapper {
  height: calc(100vh - 10vh);
  position:relative;
  top: 2px;
}

/* Audio Player */
.rhap_container {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.rhap_progress-section {
  display: none;
}

/* remove scrollbar */

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.footer-menu {
  transition: 0.2s;
}

.footer-menu:hover {
  transform: scale(1.05);
}